.page{
    /* font-family: 'Fira Sans', sans-serif; */
    padding: 2em 0;
    background-color: #F0F5F5;
    min-height: 100vh;
}
.page_heading{
    margin:0em auto 1em auto;
    text-align: center;
}
.page_subheading{
    text-align: center;
    margin: 0 auto 4em auto;
    width: 50%;
}
.input_group{
    margin:30px auto;
    width:20%;
    display: block;
}
.input_label{
    display: block;
    margin:0.5em 0;
    font: 1.25em;
    font-weight: 600;
}
.input_group input{
    width: 100%;
    padding: 5px;
    font-size: 14px;
}
.input_group input:active, .input_group input:focus{
    outline: none;
}
.input_note{
    line-height: 1 ;
    font-size: 0.75em;
    font-style: italic;
}
.button_container{
    margin: 1em auto;
    width: 30%;
}
.submit{
    color: white;
    border: none;
    background-color: #06B20B;
    padding:10px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}
.postSignup{
    text-align: center;
    margin-top: 4em;
}

.errors{
    color:red !important;
    display: block;
    margin:0;
}

@media screen and (max-width: 565px) {
    .page_subheading{
        width: 100%;
    }
    .input_group{
        margin:30px auto;
        width:80%;
        display: block;
    }
}
/* Tablet */
@media only screen and (max-width:769px) and (min-width:566px) {


}
@media only screen and (max-width:1024px) and (min-width:770px) {

}
  