.header{
    text-align: center;
    color:#06B20B;
    font-size: 2em;
    margin: 2em auto;
}
.header h1{
    margin-bottom: 10px;
}
.homeCont{
    background-color: #F0F5F5;
    padding: 20px;
}
.flexCont{
    margin: 50px auto;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    justify-content: space-evenly;
}
.descCont{
    border-radius: 10px;  
    width: 30%; 
}
.descCont h2{
    text-decoration: underline;
}
.features ul{
    list-style-type: none;
    font-size: 1.15em;
}
.features h2{
    font-size: 30px;
}
.features h2{
    color:#06B20B;
}
@media only screen and (max-width: 550px) {
    .header{
        margin: 1em auto;
    }
    .header h1{
       font-size: 35px;
    }
    .header p{
        font-size: 25px;
    }
    .flexCont{
        display: block;
    }
    .descCont{
        width: 80%;
        margin: 2em auto;
    }
    .features ul{
        padding-left: 0;
    }
}

  /* Tablet */
@media only screen and (max-width:769px) and (min-width:551px) {
    .descCont{
        border-radius: 10px;  
        width: 40%; 
    }
}
@media only screen and (max-width:1024px) and (min-width:770px) {

}
  